body {
  font-family: Arial, sans-serif;
  background-color: #d85d59aa;
  color: #333;
  margin: 40px;
  text-align: center;
}

a {
  color: black;
}

h1 {
  color: rgb(52, 52, 54);
}

header {
  position: fixed;      /* holder seg på toppen når man scroller */
  top: 0;
  left: 0;
  width: 100%;          /* fyller hele bredden */
  background-color: #5a1919; 
  color: white;
  display: flex;        /* legger elementene på linje */
  justify-content: space-between; /* tittel til venstre, nav til høyre */
  align-items: center;  /* sentrerer vertikalt */
  padding: 15px 30px;   /* luft inni headeren */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* litt skygge under */
  z-index: 1000; 
}
.main-nav {
  display: flex;
  gap: 35px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-nav a:hover {
  color: #ffcc00; /* highlight ved hover */
}

.main-body {
  padding-top: 40px;
}